
/* Establecer un tamaño minimo para las imagenes 
    desde desde 300px para arriba el tamaño de las imagenes de las cards se vuelve igual
*/
.card-img-top{
    min-width: 100%;
    min-height: 300px; /* o el valor que se desea*/
    object-fit: cover; /* para que la imagen cubra el espacio sin deformarse*/
}



/* Efecto de acercar la img cuando pasa el mouse por encima*/
.custom-card-efect:hover{
    transform: scale(1.2);
}
/* hace más suave el efecto de arriba*/
.custom-card-efect{
    width: 100%;
    cursor: pointer;
    transition: 1s;
}